*{
    margin: 0;
}

body{
    background-color: #4c4c4c;
}


.grid-container{
    position: relative;
    display: grid;
    grid-template-rows: 2fr;
}

.grid-container div:first-child{
    height: 50vh;

}

#montanas{
    background-image: url(img/fondo2.jpeg);
    position: relative;
    background-repeat: repeat-x;
    width: 100%;
    height: 56em;
    bottom: 29em;
    animation: desplazamiento 50s linear infinite;
    background-size: cover;

}

#linea{
    background-image: url(img/linea.png);
    position: relative;
    background-repeat: repeat-x;
    bottom: 32px;
    width: 100%;
    animation: desplazamiento 50s linear infinite;
}

.carros #carro1{
    position: relative;
    left: -230px;
    bottom: 40px;
    background: transparent;
    background-image: url(img/ca574ef70d5f855.png);
    background-repeat: no-repeat;
    animation: movimiento2 30s linear infinite;
    background-size: contain;
    background-size: 200px;
    width: 200%;
}

.carros #carro2{
    animation: movimiento1 50s linear infinite;
    position: relative;
    bottom: 230px;
    background: transparent;
    background-image: url(img/hongo.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 170px;
    width: 100%;
    
}


#mario{
    position: relative;
    background-image: url(img/mario.png);
    background-repeat: no-repeat;
    background-size: 200px;
    width: 100%;
    top: 500px;  
    animation: rotacion 50s linear infinite;

}

@keyframes rotacion{
    0%{
        background-position: 0 0;
        
    }
    100%{
        background-position: 20000px 0px;
    }
}


@keyframes movimiento1{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 2000px 0px;
    }
}

@keyframes movimiento2{
    0%{
        background-position: 0 0;
    }
    
    100%{
        background-position: 2000px 0;
    }
}


@keyframes desplazamiento {
0% {
    background-position: 0 0;
}
100% {
    background-position: -20000px 0;
}
}



.grid-container div:nth-child(2){
height: 40vh;
background-repeat: no-repeat;
background-color: #4c4c4c;
}

